@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Onatrix_Umbraco.ViewModels
@{
    var content = (ContentModels.CallbackSection)Model.Content;
    var settings = Model.Settings as ContentModels.CallbackSettings;
    var formVM = new CallbackFormViewModel
    {
        Options = settings!.CallbackRequestOption ?? []
    };
}

<section id="callback">
    <div class="callback-bg">
        @if (content.CallbackBgImage != null)
        {
            <img src="@content.CallbackBgImage.Url()" alt="@content.CallbackBgImage.Name">
        }
    </div>

    <div class="container">
        <div class="contact-form">

            @if (settings!.ShowCallbackFormTitle == true)
            {
                <h2 class="form-title">@content.CallbackFormTitle</h2>
            }
         
            <div class="rte">@Html.Raw(content.CallbackFormDescription)</div>
            <partial name="Partials/Forms/_CallbackForm" model="formVM" />

            @if (TempData["FormSuccess"] != null)
            {
                <div class="success">
                    @TempData["FormSuccess"]
                </div>
            }
            else if (TempData["FormError"] != null)
            {
                <div class="error">
                    @TempData["FormError"]
                </div>
            }      
           
        </div>
    </div>
</section>

