@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.CallbackSection)Model.Content;
}

<section id="callback">
    <div class="callback-bg">
        @if (content.CallbackBgImage != null)
        {
            <img src="@content.CallbackBgImage.Url()" alt="@content.CallbackBgImage.Name">
        }
    </div>

    <div class="container">
        <div class="contact-form">
            <form>
                <div class="contact-form-title">
                    <span class="page-title">@content.CallbackLabel</span>
                    <h2>@content.CallbackTitle</h2>
                    <div class="rte">@Html.Raw(content.CallbackText)</div>
                </div>
                <div class="grid-container">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Email address">
                    <input type="text" placeholder="Phone">
                    <select name="" id=""></select>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>

