@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Onatrix_Umbraco.ViewModels
@{
    var content = (ContentModels.MainSection)Model.Content;
    var settings = Model.Settings as ContentModels.MainSettings;
    var formVM = new CallbackFormViewModel
    {
		Options = settings?.CallbackRequestOption ?? []
	};
}

<section id="main">
    <div class="container">

        <div class="main-content">
            <p class="page-title">@content.MainLabel</p>
            <div>@content.MainTitle</div>
            <div class="rte">
				@Html.Raw(content.MainText)
            </div>
        </div>

        <div class="main-form">

            @if (settings!.ShowCallbackFormTitle == true)
            {
                <h2 class="form-title">@content.CallbackFormTitle</h2>          
            }

            <div class="rte">@Html.Raw(content.CallbackFormDescription)</div>
            <partial name="Partials/Forms/_CallbackForm" model="formVM" />

            @if (TempData["FormSuccess"] != null)
            {
                <div class="success">
                    @TempData["FormSuccess"]
                </div>
		    }
            else if (TempData["FormError"] != null)
            {
                <div class="error">
                    @TempData["FormError"]
                </div>
		    }

        </div>
    </div>
</section>
