@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceSection)Model.Content;
    var settings = Model.Settings as ContentModels.ServiceSettings;

    var sectíonColor = settings?.ServiceBgColor?.Color ?? "#FFFFFF";

    var current = Umbraco.AssignedContentItem;
    var pageRoot = current.Root();

    var servicePage = pageRoot?.Children<ServicePage>()?.FirstOrDefault();
    var items = servicePage?.Children<ServiceDetail>()?.OrderByDescending(x => x.CreateDate).ToList() ?? [];
}

@if (!string.IsNullOrEmpty(sectíonColor))
{
    <style>
        #services {
        background-color: @sectíonColor;
        }
    </style>
}
<section id="services">

    <div class="container">
        <div class="services-title">
            @if (settings!.ShowServiceLabel)
            {
                <p class="page-title">@content.ServiceLabel</p>
            }
            <div>@Html.Raw(content.ServiceTitle)</div>
        </div>

        @if (items.Any())
        {
            <div class="swiper serviceSwiper">
                <div class="swiper-wrapper">
                        @foreach (var item in items)
                        {
                            <div class="swiper-slide service-card">
                                <a href="@item.Url()">
                                    <h4>@item.Name</h4>
                                    <img src="@(item.ServiceDetailThumbnail?.Url() ?? "~/images/services_bonds.svg")" class="service-card-img" alt="Service Thumbnail">
                                    <p>@item.ServiceDetailQuote</p>
                                </a>
                            </div>
                        }
                </div>

                <div class="custom-pagination">
                    <div class="custom-prev"><i class="bi bi-arrow-left-short"></i></div>
                    <div class="swiper-pagination"></div>
                    <div class="custom-next"><i class="bi bi-arrow-right-short"></i></div>
                </div>
            </div>
        }
        else
        {
            <p>No services at the moment</p>
        }
    </div>
</section>